.bodyContainer {
  position: fixed;
  width: 100%;
  background-color: #eaeffa;
  font-size: 10px;
  padding-left: 12px;
  top: 59px;
  bottom: 67px;
  overflow: auto;
  height: auto;
}

.imputContainer {
  padding-right: 50px;
  width: auto;
  font-size: 6px;
}
